body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

#navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #242424;
  display: flex;
  color: white;
  align-items: center;
  font-size: 20px;
}

#navbar p {
  margin-left: 50px;
}
.nav-link {
  margin-left: auto;
  margin-right: 40px;
}

nav a {
  padding: 23px 20px;
  text-decoration: none;
  color: white;
  transition-duration: 0.1s;
}

nav a:hover {
  background-color: white;
  color: black;
}

@media (max-width: 700px) {
  .nav-link {
    margin-right: 0;
  }
  #navbar p {
    margin-left: 25px;
  }
}

#welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,12,62,1) 50%, rgba(2,0,36,1) 100%);
}

#projects {
  background-color: black;
}

#projects h2 {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  margin: 0;
  padding: 70px 0 20px 0;
}

#project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
}

.project-tile {
  width: 300px;
  height: 300px;
  border: 2px solid white;
  margin: 35px 25px;
  border-radius: 1%;
  text-decoration: none;
  transition-duration: 0.3s;
}

.project-tile img {
  width: 300px;
  height: 300px;
  transition-duration: 0.3s;
}

.project-tile p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin-top: 5px;
}

.project-tile:hover {
  width: 310px;
  height: 310px;
}

.project-tile:hover > img {
  width: 310px;
  height: 310px;
}

#contact {
  background: rgb(12,26,62);
  background: linear-gradient(90deg, rgba(12,26,62,1) 0%, rgba(10,6,66,1) 50%, rgba(12,26,62,1) 100%);
}

#contact h2 {
  font-size: 1.6rem;
  color: white;
  margin: 0;
  padding-top: 70px;
  text-align: center;
}

#contact-container {
  min-height: 300px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#contact-container a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
  padding: 10px 25px;
  transition-duration: 0.3s;
}

#contact-container a:hover {
  padding-bottom: 20px;
}