@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
  font-size: 16px;
  font-family: 'Open Sans';
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

