@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-size: 16px;
    font-family: 'Open Sans';
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

header {
    display: flex;
    align-items: center;
}

#navbar {
    margin-left: auto;
}

#nav-link > a {
    padding: 0 5px;
    text-decoration: none;
    color: darkblue;
}

h2 {
    margin-left: 10px;
    margin-top: 30px;
}

h3 {
    margin-left: 20px;
    margin-top: 25px;
}

#about > p {
    margin-left: 10px;
}

#contact > p {
    margin-left: 20px;
}

.project-heading {
    max-width: 300px;
}

.project-heading:hover {
    cursor: pointer;
}

.project-content {
    margin-left: 50px;
    max-width: 700px;
}

#icon-list > img {
    width: auto;
    height: 64px;
    margin: 0 10px;
}
